AUTH_CLIENT_ID="your zitadel application client id"
AUTH_SECRET="your very secret auth secret"
API_URL="https://qwacker-api-http-prod-927407260649.europe-west6.run.app"
NEON_DATABASE_URL="postgresql://pp-user:pp-password@localhost:5432/pp-database"
VERCEL_URL="http://localhost:3000"